// main

// helpers
@import "./1-helper/variables";
@import "./2-base/bs-color";

// Custom.scss

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Add custom code after this
// base
@import "./2-base/bs-changes";
@import "./2-base/reset";
@import "./1-helper/font";
@import "./1-helper/spacing";
@import "./1-helper/states";
// layout
@import "./3-layout/header";
@import "./3-layout/hero";

// module
@import "./4-module/jumbotron";
@import "./4-module/nav-link";
