// Spacing

.spacing_p-tb-50 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.spacing_p-b-20 {
  padding-bottom: 1.25rem;
}
.spacing_m-tb-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.spacing_p-b-30 {
  padding-bottom: 1.875rem;
}

.spacing_p-b-146 {
  padding-bottom: 9.125rem;
}

.spacing_p-t-58 {
  padding-top: 3.625rem;
}

.spacing_p-lr-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
